{% extends "base.html" %}

{% block content %}
<p style="text-align: justify; text-justify: inter-word; font-size: xx-large;">
Sara grew up in Denver, CO and was into dance and performace since she was a kid. She graduated from University of Colorado Health Sciences with a Bachelor's of Science in Nursing and worked at Children's Hospital Colorado for 12 years. At CUCO, she specialized in neonatal wound care, creating training and treatment programs in the NICU.
</p>
<p style="text-align: justify; text-justify: inter-word; font-size: xx-large;">
In about 2013 Sara became interested in nutrition and fitness especially dietary programs that affect inflamation such as Whole30. In about 2015 ,Sara became certified as a PiYo live instructor and began teaching live classes. Her infectious personality, and endless energy kept students coming back and she soon had a large following in her "after work" classes at Children's Hospital.
</p>
<p style="text-align: justify; text-justify: inter-word; font-size: xx-large;">
In 2018 Sara and her family moved to Harrogate, England. While leaving home and her classes in Colorado was imensly difficult, Sara would not be deturred and soon had a following of people taking her PiYo classes in person at several gyms in town. As for the world, 2020 brought new challenges for Sara and Made2Crave with gyms closing and the world going into lockdown. Again, always rising to a challenge, Sara quickly pivoted to online classes via Zoom, and again built a following of men and women who look to Sara for not only fitness, but friendship, humor, and family.
</p>
<p style="text-align: justify; text-justify: inter-word; font-size: xx-large;">
You would never know from her energy or her level of fitness, but Sara is in an ongoing battle with arthritis, and this has shaped and honed much of her drive for fitness, nutrition and overall wellness. This also means she sympathizes with her clients that are suffering from their own medical conditions. While being a battle, it hasn't slowed Sara down in the least, and actually has the opposite effect, focusing and honing her drive.
</p>
<p style="text-align: justify; text-justify: inter-word; font-size: xx-large;">
Sara currently lives with her husband and two kids in beautiful Harrogate, England. She is working on her PT Level IV certification, having completed Level III in 2020. 
</p>
{% endblock %}
