{% extends "base.html" %}

{% block content %}
<h2>PiYo</h2>
<p style="text-align: justify; text-justify: inter-word; font-size: xx-large;">
PiYo has been described as fast yoga, a combination of yoga and pillates, and just plain fun. It combines cardio, stretch, strength, and is composed of various sections taught in succession. It is choreographed to up-beat encouraging music and Sara brings pleanty of energy and encouragement to get you through. 
</p>
<h2>HIIT</h2>
<p style="text-align: justify; text-justify: inter-word; font-size: xx-large;">
You think you have done High Intensity Interval Training before but you haven't done this. Sara crafts new exercies and training often, picks music to keep you going and keep your head in the game. Before you know it you are beat, sweating and laughing.
</p>
<h2>RuckIT</h2>
<p style="text-align: justify; text-justify: inter-word; font-size: xx-large;">
Similar to HIIT in goals and organization, but focusing on using a weighted ruck to provide the resistence. Make sure you aren't counting on the excuse of "I don't have any exercise kit, because Sara will have you filling a ruck with soup cans, or water bottles, or book and getting fit in no-time.
</p>
<h2>SOULFusion</h2>
<p style="text-align: justify; text-justify: inter-word; font-size: xx-large;">
SOULFusion is Sara's newest class offering. Designed by the creator of PiYo, SOULFusion has many of the same elements however also incorporates weights. If you want a new challenge or even are just starting out, SOULFusion is a fantastic class.
</p>
{% endblock %}
