{% extends "base.html" %}

{% block content %}
<h2>Welcome</h2>
<p style="text-align: justify; text-justify: inter-word; font-size: xx-large;">Here at Made2Crave we strive to offer fitness classes, personal training, nutrition, friendship and encouragement. Sara, our lead trainer has 12 years of experience as a neonatal and pediatric dermatology nurse in an ICU and clinical setting. After moving to the UK in 2018 Sara turned her energy and expertise to pursue Personal Training Certifciation and is currently working on her level IV PT certification.</p>
<p style="text-align: justify; text-justify: inter-word; font-size: xx-large;">Sara teaches a variety of classes every day of the week (sometimes multiple classes per day), including PiYo, RuckIT, HITT, and SOULFusion. She also offers one-on-one in person or virtual personal training, and nutrition counceling.</p>
{% endblock %}
