{% extends "base.html" %}

{% block content %}
<p style="text-align: justify; text-justify: inter-word; font-size: xx-large;">
In additon to virtual and live classes, Sara provides one-on-one personal training. Tailored to your specific fitness goals, schedule, lifestyle, and current level of fitness, Sara will put her heart into your program. She creates custom instruction videos, exercise plans, and often special challenges. Enquire on the connect tab for pricing and packages.
</p>
{% endblock %}
